@page "/lab"

<h2>Lab</h2>

<p>This page serves as an index for interative demos and tools.</p>

<ul>
    <li><a href="lab/state-space-explorer">State space explorer - blocks world</a>: A demonstration of the state space representation types to be found in the `SCClassicalPlanning.Planning.StateAndGoalSpace` namespace.</li>
</ul>
