@inherits LayoutComponentBase
@inject IJSRuntime JS

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        JS.InvokeVoidAsync("PR.prettyPrint");
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.nuget.org/packages/SCClassicalPlanning/"><img src="https://img.shields.io/nuget/v/SCClassicalPlanning.svg?style=flat-square" alt="NuGet version (SCClassicalPlanning)"/></a>
            <a href="https://github.com/sdcondon/SCClassicalPlanning"><img src="GitHub-Mark-32px.png" alt="GitHub Repository (SCClassicalPlanning)"/></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
