@page "/tools"

<h2>Tools</h2>

<p>This page serves as an index for some tools (though "demos" or "toys" might be more apt descriptions) that make use of SCClassicalPlanning.</p>

<ul>
    <li><a href="tools/state-space-explorer">State space explorer - blocks world</a>: A demonstration of the state space representation types to be found in the `SCClassicalPlanning.Planning.StateAndGoalSpace` namespace.</li>
</ul>
